
/*
    While I've tried to be totally cross browser compatible,
    there are some effects that are not going to work in IE9<
    If you see any problems that could be fixed - get in touch.

    James White 13-04-14.
*/

/* ==== GENERIC CSS SETUP ==== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.ease {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

/* ==== END OF GENERIC SETUP ==== */

body {
    background-color: #eff0f2;
    line-height: 1;
    font-family: "Myriad Pro", Myriad, 'PT Sans', sans-serif;
    color: #686d6d;
}

body a{
    text-decoration: none;
    color: #5eaec3;
}
/* ==== Shadow casters ==== */

.shadowCaster {
    z-index: -1;
    content: "";
    width: 95%;
    height: 100%;
    margin: auto;
}

.scDown {
    -moz-box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.scOffset {
    -moz-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.5);
}

.scFlat {
    -moz-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.5);
}

/* ==== Generic Layout Elements ==== */

/* assign brand font */
#main .row .title h3,
#main .row .ribbon p,
#titleBar h1,
#main .row .resultNumber
{
    font-family: 'Philosopher', sans-serif;
    color: #ededed;
}

#pageSpring {
    width: 1000px;
    margin: auto;
}

#page {
    width: 100%;
    min-height: 500px;
    margin: 60px 0;
    float: left;
    background-color: #e5e0d6;
    position: relative;
    z-index: 10;
}

.pageRibbon {
    position: absolute;
    top: -50px;
    left: 165px;
    width: 100px;
    height: calc(100% + 100px);
    background-color: #eff0f2;
}

#pageRibbonSC {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100px;
    height: calc(100% - 40px);
}

#titleBar {
    width: 100%;
    height: 105px;
    background-color: #59473b;
    position: relative;
    top: 0px;
}

#titleBar h1 {
    font-size: 50px;
    text-align: right;
    margin: 25px 40px 0 0;
    line-height: 80px;
    float: right;
}

#titleBar a{
    color: inherit;
    text-decoration: none;
}

#titleBarSC {
    position: absolute;
    left: 2.5%;
}

#titleBarRibbonSC {
    position: absolute;
    left: 165px;
    top: 0px;
    width: 100px;
    height: 105px;
    z-index: 100;
}

#main {
    margin-top: 130px;
}

/* ==== SEARCH FORM ==== */

#searchForm{
    position: absolute;
    right: 0px;
    top: 105px;
    width:735px;
    height: 90px;
    padding: 25px 15px;
}

#searchForm label{
    display:none;
}

#searchForm .searchField{
    background-color: #eff0f2;
    height: 30px;
    width: 100%;
    padding: 8px;
    font-size: 0.9em;
    border: none;
}

#searchForm div{
    float:left;
    width: 590px;
}

#searchForm .searchButton{
    float:left;
    width: 100px;
    height: 30px;
    background-color: #59473b;
    border: none;
    margin-left: 12px;
    color: #eff0f2;
    font-size: 0.9em;
}

#searchForm .searchField:focus, #searchForm .searchButton:focus
{
    outline-width: 0;
}

/* ==== Row-Ribbon classes ==== */

#main .row {
    margin: 0;
    float: left;
    width: 100%;
    height: 188px;
}

/* ====  Available row-ribbon colors ==== */

#main .row:nth-child(6n+1) .frontColor,     #main .row .frontColor {    background-color: #5eaec3;}
#main .row:nth-child(6n+1) .backColor,      #main .row .backColor {     background-color: #468494;}
#main .row:nth-child(6n+1) .resultNumber,   #main .row .resultNumber {  color: #5eaec3; }

#main .row:nth-child(6n+2) .frontColor {    background-color: #f49f40;}
#main .row:nth-child(6n+2) .backColor {     background-color: #bf7e30;}
#main .row:nth-child(6n+2) .resultNumber {  color: #f49f40; }

#main .row:nth-child(6n+3) .frontColor {    background-color: #4e7da0;}
#main .row:nth-child(6n+3) .backColor {     background-color: #3b5d72;}
#main .row:nth-child(6n+3) .resultNumber {  color: #4e7da0; }

#main .row:nth-child(6n+4) .frontColor {    background-color: #ef6c3f;}
#main .row:nth-child(6n+4) .backColor {     background-color: #b9532d;}
#main .row:nth-child(6n+4) .resultNumber {  color: #ef6c3f; }

#main .row:nth-child(6n+5) .frontColor {    background-color: #c83d36;}
#main .row:nth-child(6n+5) .backColor {     background-color: #a23028;}
#main .row:nth-child(6n+5) .resultNumber {  color: #ef6c3f; }

#main .row:nth-child(6n+6) .frontColor {    background-color: #924c32;}
#main .row:nth-child(6n+6) .backColor {     background-color: #773d24;}
#main .row:nth-child(6n+6) .resultNumber {  color: #924c32; }

#main .row .title {
    position: absolute;
    top: 0;
    left: 265px;
    height: 80px;
    width: 680px;
    text-decoration: none;
}

#main .row .titleArrow {
    position: absolute;
    right: -29px;
    top: 11px;
    width: 56px;
    height: 56px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#main .row .ribbon {
    position: absolute;
    top: 0;
    left: 165px;
    height: 80px;
    width: 100px;
}

#main .row .tail {
    position: absolute;
    top: 80px;
    left: 0px;
    height: 80px;
    width: 165px;
}

#main .row .tailShadow {
    position: absolute;
    z-index: -1;
    bottom: 5px;
    left: 5px;
    height: 50px;
    width: 155px;
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

#main .row .back {
    position: absolute;
    width: 130px;
    height: 64px;
    left: 132px;
    top: 64px;
    -ms-transform: rotate(-37deg);
    -webkit-transform: rotate(-37deg);
    transform: rotate(-37deg);
}

#main .row .title h3{
    height: 76px;
    width: 650px;
    line-height: 80px;
    margin: 4px 0 0 30px ;
    font-size: 32px;
}

#main .row .ribbon p{
    width: 100%;
    height: 78px;
    margin-top: 2px;
    line-height: 80px;
    text-align: center;
    font-size: 25px;

}

#main .row .resultNumber{
    width: 165px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 50px;
}

#main .row .content{
    left: 265px;
    width: 600px;
    height: 80px;
    line-height: 25px;
    font-size: 16px;
    padding:  15px
}

    /* movie page */

#main .movieRow, #main .homeRow{
    height: auto;
    min-height: 220px;
}

#main .movieRow .content, #main .homeRow .content{
    width: 480px;
    height: auto;
}

#main .movieRow .titleArrow{
    display: none;
}

#main .movieRow .title{
    width: 750px;
}

.moviePoster{
    width: 250px;
    float: right;
    z-index: -1;
}

.row .details{
    float: left;
    width: 480px;
}

.details .label{
    float: left;
    width: 80px;
    font-weight: bold;
    color: #59473b;
    margin-right: 15px;
}

.details .detail{
    float: left;
    width: 350px;
}



/* === FOOTER === */

footer{
    position: absolute;
    bottom: -40px;
    right: 0;
    font-size: 12px;
}


/* === HOVER CLASSES === */

#main .row .title:hover {
    width: 700px;
}
